<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container center">
  <form action="#" th:action="@{'/'+${editEmployee.getEmployeeId()}}" th:object="${editEmployee}" method="post">
    <p>Id:<input type="number" th:field="*{employeeId}"/></p>
    <p>Firstname:<input type="text" th:field="*{firstName}"/></p>
    <p>Lastname:<input type="text" th:field="*{lastName}"/></p>
    <p>Department Id:<input type="number" th:field="*{departmentId}"/></p>
    <p>Job title:<input type="text" th:field="*{jobTitle}"/></p>
    <p>Gender:<input type="text" th:field="*{gender}"/></p>
      <p>Date of birth:<input type="date" th:field="*{dateOfBirth}"/></p>
    <p><input type="submit" value="Edit" class="btn btn-primary red"/>
      <input type="reset" value="Reset" class="btn btn-primary green"/></p>
  </form>
</div>
</body>
</html>